<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>All Shortened URLs</h1>
<ul>
  <% urls.forEach(url => { %>
    <li>
      <strong>Short ID:</strong> <%= url.shortId %> |
      <strong>Original URL:</strong> <%= url.redirectURL %>
    </li>
  <% }); %>
</ul>
    
</body>
</html>